<h1>Command line info</h1>

<ul>
  <li><a href = "/">Home</a></li>
  <li><a href = "/cd">CD</a></li>
  <li><a href = "/cp">CP</a></li>
  <li><a href = "/ls">LS</a></li>
  <li><a href = "/mkdir">MKDIR</a></li>
  <li><a href = "/touch">TOUCH</a></li>
</ul>